[Unit]
Description=MySQL Healthcheck Flask App
After=network.target

[Service]
EnvironmentFile=/etc/mysql-healthcheck.env
User=www-data
WorkingDirectory=/opt/mysql-healthcheck
ExecStart=/usr/bin/python3 http-mysql-healthcheck.py
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target